@import url("https://fonts.googleapis.com/css?family=Montserrat");
@keyframes slideIn {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  line-height: 120%;
  font-family: "Montserrat";
  font-size: 22px;
}